<a href="https://colab.research.google.com/github/jbpost2/ST-554-Big-Data-with-Python/blob/main/01_Programming_in_python/06-Numeric_Types_Booleans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numeric Types (Int and Float) & Booleans

> Justin Post

---

Next up, we look at two basic built-in data types: numeric types and booleans

As with lists and strings, we'll go through and look at how to create them, common methods and functions, and look at some examples along the way.

Once we're through this part, we're ready to start thinking about compound data types (other than lists) and how we might store and summarize data. For dealing with data, we'll look at two common python modules and their data types:

+ NumPy arrays
+ Pandas data frames

Note: These types of webpages are built from Jupyter notebooks (`.ipynb` files). You can access your own versions of them by [clicking here](https://colab.research.google.com/github/jbpost2/ST-554-Big-Data-with-Python/blob/main/01_Programming_in_python/06-Numeric_Types_Booleans.ipynb). **It is highly recommended that you go through and run the notebooks yourself, modifying and rerunning things where you'd like!**

---

## Ints & Floats

- (Real) Numbers are stored as **int** or **float** types
    + Python generally figures out which to use and changes to float when needed

In [1]:
x = 10
type(x)

int

In [2]:
y = 10.4
type(y)

float

In [3]:
z = y - 0.4
print(z)
type(z)

10.0

float

In [4]:
type(x + 0.5)

float

- You can cast things (or explicitly coerce them) using `int()` and `float()`

In [5]:
x = 10
print(type(x))
x

<class 'int'>

10

In [6]:
x = float(x)
print(type(x))
x

<class 'float'>

10.0

In [7]:
int(10.9) #returns just the integer part (no rounding done)

10

---

## Functions & Operators

- We have all the numeric operators discussed previously and a few handy functions built in too

In [8]:
#divide and discard remainder
100 // 3

33

In [9]:
#modulus or remainder
100 % 3

1

In [10]:
#whole number division and modulus
divmod(100, 3) #returns a 'tuple' (a sort of immutable list)

(33, 1)

In [11]:
#raise to a power 4^3
pow(4, 3)

64

In [12]:
#equivalent to
4 ** 3

64

In [13]:
abs(-100)

100

In [14]:
round(10.4242, 2)

10.42

### `math` module

- As we saw, the `math` module has a number of useful functions
- Recall we can import the `math` module to gain access to its functions. We then preface functions/objects from the module with `math.`

In [15]:
x = 10.55
#a boolean function (more on this shortly)
x.is_integer()

False

In [16]:
import math
math.floor(x)

10

In [17]:
math.ceil(x)

11

In [18]:
math.factorial(10)

3628800

---

## Things To Be Aware Of

Floats are not stored precisely!

In [19]:
1.2-1.0

0.19999999999999996

- Comes from using a binary representation of floats

- Not worth getting into, but if you see something weird like this, that is why!

- <a href = "https://www.geeksforgeeks.org/floating-point-error-in-python/" target = "_blank">More info here</a>

---

## Things to Note/Remember

- Augmented assignment operators are useful

In [20]:
x = 100
x += 200
x

300

- Multiple assignment can be done

In [21]:
x = y = z = 40
print(x, y)

40 40

In [22]:
x, y, z = 40, 50, 60
print(x, y)
print(z)

40 50
60

---

## More Formatting Strings

We saw how to format strings earlier. Let's revit that year!

In [23]:
Job = "Professor"
Years = 10.23
my_string = "I am a {job} and I've been teaching for {years:d} years"

We can use the `.format()` method on the string to place values in the placeholders. The `years:d` above specifies the type of formatting to use on the number, `d` stands for integer

In [24]:
my_string.format(job = Job, years = Years) #throws an error as it expects an integer for years

ValueError: Unknown format code 'd' for object of type 'float'

In [25]:
my_string.format(job = Job, years = int(Years)) #cast years as an integer via int()

"I am a Professor and I've been teaching for 10 years"

We can specify the type of number input for the `.format()` method to use via this `name:number_type` syntax:

  - d - Integers
  - f - Floating point numbers
  - .<number of digits>f - Floating point numbers with a fixed amount of digits to the right of the dot.

In [26]:
print("I am a {job} and I've been teaching for {years:f} years".format(job = Job, years = Years))
print("I am a {job} and I've been teaching for {years:.1f} years".format(job = Job, years = Years))

I am a Professor and I've been teaching for 10.230000 years
I am a Professor and I've been teaching for 10.2 years

Actually <a href = "https://realpython.com/python-string-formatting/" target = "_blank">four different ways</a> to substitute into a string (if you are interested!)

---

# Booleans

- A `bool` is a `True` or `False` value (note the case of these two special terms)

In [27]:
x = True
type(x)

bool

Many functions and methods return a boolean. For instance, the `.is_integer()` method:

In [28]:
y = 10.1
y.is_integer()

False

For strings (and other objects we'll see) `in` and `not in` are useful operators that return a boolean

In [29]:
"an" in "banana"

True

In [30]:
"pa" not in "panama"

False

`isInstance()` is a useful function to determine if an object is a certain type!

In [31]:
isinstance(10.4, float)

True

- Booleans are very useful for control flow operators like `if/then/else` and `looping` (covered soon!)
- You can use the `bool()` function on anything to get a `True` or `False`
    + Any list, tuple, set, and dictionary are `True` except empty ones

In [32]:
bool("string")

True

In [33]:
bool("")

False

In [34]:
bool(10)

True

In [35]:
bool(0)

False

In [36]:
#None is keyword to define a null value in python
bool(None)

False

In [37]:
#not can be used to negate something and make it True
bool(not None)

True

In [38]:
bool(not 10)

False

---

## Boolean/Integer Relationship

- Booleans are actually a subtype of integers
    + `True` treated as 1
    + `False` treated as 0

In [39]:
print(3 + True, 3 * False)

4 0

One thing of note is that when you do math on `True` or `False` it converts the result. Note the last computation result below.

In [40]:
print(str(True), str(False), str(True + 0))

True False 1

---

## Video Demo

This quick video shows some useful functions from the `.math` module for dealing with integers, floats, and booleans. Remember to pop the video out into the full player.

The notebook written in the video is <a href = "https://colab.research.google.com/github/jbpost2/ST-554-Big-Data-with-Python/blob/main/01_Programming_in_python/Learning_Python.ipynb" target = "_blank">available here</a>.

In [41]:
from IPython.display import IFrame
IFrame(src="https://ncsu.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=d59f4288-1a98-446e-a82f-b0f0013e8445&autoplay=false&offerviewer=true&showtitle=true&showbrand=true&captions=false&interactivity=all", height="405", width="720")

---

# Recap

- Numbers stored as ints or floats

    + standard operations all available
    + math module has more functionality
    
- Booleans are `True` or `False`

    + Can be treated as 1 and 0
    + Many functions to create bools (`.is_*()` methods, `bool()` function)

If you are on the course website, use the table of contents on the left or the arrows at the bottom of this page to navigate to the next learning material!

If you are on Google Colab, head back to our course website for [our next lesson](https://jbpost2.github.io/ST-554-Big-Data-with-Python/01_Programming_in_python/07-Common_Uses_For_Data_Landing.html)!