<a href="https://colab.research.google.com/github/jbpost2/ST-554-Big-Data-with-Python/blob/main/01_Programming_in_python/15-Pandas_Data_Frames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Data Frames

> Justin Post

- `Pandas` `DataFrame`s are super useful 2D data structures!
    + Each column is a `Series` object
    + Each column can be of differing types (just like most common data sets!)

Note: These types of webpages are built from Jupyter notebooks (`.ipynb` files). You can access your own versions of them by [clicking here](https://colab.research.google.com/github/jbpost2/ST-554-Big-Data-with-Python/blob/main/01_Programming_in_python/14-Pandas_Data_Frames.ipynb). **It is highly recommended that you go through and run the notebooks yourself, modifying and rerunning things where you'd like!**

## Creating a `DataFrame`

- Most of the time we'll read data from a raw file directly into a `DataFrame`
- However, you can create one with the `pd.DataFrame()` function

In [1]:
import pandas as pd
import numpy as np

### Creating a Data Frame from Lists

- `zip()` lists of the same length together
- specify columns via `columns =` list of appropriate length
- specify row names via `index =` list of appropriate length (if you want!)

In [2]:
#populate some lists, each of equal length
name = ['Alice', 'Bob','Charlie','Dave','Eve','Francesca','Greg']
age = [20, 21, 22, 23, 22, 21, 22]
major = ['Statistics', 'History', 'Chemistry', 'English', 'Math', 'Civil Engineering','Statistics']

#create the data frame using zip()
my_df = pd.DataFrame(zip(name, age, major), columns = ["name", "age", "major"])
my_df

        name  age              major
0      Alice   20         Statistics
1        Bob   21            History
2    Charlie   22          Chemistry
3       Dave   23            English
4        Eve   22               Math
5  Francesca   21  Civil Engineering
6       Greg   22         Statistics

---

### Creating a Data Frame from a Dictionary

- The `pd.DataFrame()` function can create `DataFrame`s from many objects
- For a dictionary (`dict` object), the keys become the column names (values **must** be of the same length)

In [3]:
people = {'Name': ['Alice', 'Bob','Charlie','Dave','Eve','Francesca','Greg'],
          'Age': [20, 21, 22, 23, 22, 21, 22],
          'Major': ['Statistics', 'History', 'Chemistry', 'English', 'Math', 'Civil Engineering','Statistics'],
         }
people

{'Name': ['Alice', 'Bob', 'Charlie', 'Dave', 'Eve', 'Francesca', 'Greg'],
 'Age': [20, 21, 22, 23, 22, 21, 22],
 'Major': ['Statistics',
  'History',
  'Chemistry',
  'English',
  'Math',
  'Civil Engineering',
  'Statistics']}

In [4]:
my_df = pd.DataFrame(people)
my_df

        Name  Age              Major
0      Alice   20         Statistics
1        Bob   21            History
2    Charlie   22          Chemistry
3       Dave   23            English
4        Eve   22               Math
5  Francesca   21  Civil Engineering
6       Greg   22         Statistics

---

### Creating a Data Frame from a `NumPy` Array

- If you have a 2D `numpy` array, the conversion to a `DataFrame` object is natural
- You can specify the column names with `columns = ` and the indices with `index =`

In [5]:
my_array = np.random.random((5,3))
print(my_array.shape)
my_array

(5, 3)

array([[0.26875935, 0.8483556 , 0.29260147],
       [0.03622504, 0.96900122, 0.13355091],
       [0.78307429, 0.06424212, 0.1347523 ],
       [0.53970876, 0.3492132 , 0.73111491],
       [0.22559969, 0.9329524 , 0.35925092]])

In [6]:
my_df2 = pd.DataFrame(my_array, columns=["1st", "2nd", "3rd"], index=["a", "b", "c", "d", "e"])
my_df2

        1st       2nd       3rd
a  0.268759  0.848356  0.292601
b  0.036225  0.969001  0.133551
c  0.783074  0.064242  0.134752
d  0.539709  0.349213  0.731115
e  0.225600  0.932952  0.359251

---

## Indexing a Data Frame

### Indexing Columns with `[]`

- `DataFrames` have a `.columns` attribute

In [7]:
my_df2.columns

Index(['1st', '2nd', '3rd'], dtype='object')

- We can access the columns using a string of the column names and 'selection brackets'

In [8]:
my_df2["1st"]

a    0.268759
b    0.036225
c    0.783074
d    0.539709
e    0.225600
Name: 1st, dtype: float64

- Note that what gets returned is just a `Series`!

In [9]:
type(my_df2["1st"])

pandas.core.series.Series

- We can also return a column using the attribute syntax with the column name (a period at the end of the object followed by the column name)

In [10]:
my_df.Major

0           Statistics
1              History
2            Chemistry
3              English
4                 Math
5    Civil Engineering
6           Statistics
Name: Major, dtype: object

In [11]:
type(my_df.Major) #again a Series!

pandas.core.series.Series

- Returning more than one column is easy
- You can give a `list` of the column names you want to the selection brackets

In [12]:
my_df[['Name', 'Age']]

        Name  Age
0      Alice   20
1        Bob   21
2    Charlie   22
3       Dave   23
4        Eve   22
5  Francesca   21
6       Greg   22

- Note you can't use slicing for columns using just `[]` (we'll need to us `.iloc[]` or `.loc[]`, which we cover in a moment)
- If you try to index with slicing you get back appropriate rows (see below)

### Indexing Rows by Slicing with `[]`

- Similarly, you can index the rows using `[]` if you use a slice or a boolean array of appropriate length

In [13]:
my_df

        Name  Age              Major
0      Alice   20         Statistics
1        Bob   21            History
2    Charlie   22          Chemistry
3       Dave   23            English
4        Eve   22               Math
5  Francesca   21  Civil Engineering
6       Greg   22         Statistics

In [14]:
my_df[3:5] #get the 3rd and 4th rows

   Name  Age    Major
3  Dave   23  English
4   Eve   22     Math

In [15]:
my_df2

        1st       2nd       3rd
a  0.268759  0.848356  0.292601
b  0.036225  0.969001  0.133551
c  0.783074  0.064242  0.134752
d  0.539709  0.349213  0.731115
e  0.225600  0.932952  0.359251

In [16]:
my_df2[1:5] #get the 2nd through 5th rows (counting starts at 0!)

        1st       2nd       3rd
b  0.036225  0.969001  0.133551
c  0.783074  0.064242  0.134752
d  0.539709  0.349213  0.731115
e  0.225600  0.932952  0.359251

- Oddly, you can't return a single row with just a number
- You can return it using slicing (recall `:` *usually* doesn't return the last value)

In [17]:
my_df2[1] #throws an error

KeyError: 1

In [18]:
my_df2[1:2] #return just one row

        1st       2nd       3rd
b  0.036225  0.969001  0.133551

### Indexing Rows Using a Boolean Array with `[]`

- Often we use a Boolean object to subset the rows (rows with a `True` get returned, `False` do not)
- This comes up when we use a condition found using a variable from our data frame to do the subsetting

In [19]:
my_df['Name'] == 'Alice' #create a boolean array

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: Name, dtype: bool

In [20]:
my_df[my_df['Name'] == 'Alice'] #return just the True rows

    Name  Age       Major
0  Alice   20  Statistics

In [21]:
my_df[my_df['Age'] > 21] #return only rows that match

      Name  Age       Major
2  Charlie   22   Chemistry
3     Dave   23     English
4      Eve   22        Math
6     Greg   22  Statistics

---

##### Compound Logicals

- All the standard compound logical operators exist
- `&` (and), `|` (or), `~` (not), `^` (xor - exclusive or)

First, two boolean vectors:

In [22]:
(my_df['Name'] == 'Alice')

0     True
1    False
2    False
3    False
4    False
5    False
6    False
Name: Name, dtype: bool

In [23]:
(my_df['Name'] == 'Greg')

0    False
1    False
2    False
3    False
4    False
5    False
6     True
Name: Name, dtype: bool

- Get either/or for these two booleans

In [24]:
(my_df['Name'] == 'Alice') | (my_df['Name'] == 'Greg')

0     True
1    False
2    False
3    False
4    False
5    False
6     True
Name: Name, dtype: bool

- Now we can subset the data based on this compound condition!

In [25]:
my_df[(my_df['Name'] == 'Alice') | (my_df['Name'] == 'Greg')]

    Name  Age       Major
0  Alice   20  Statistics
6   Greg   22  Statistics

- When doing lots of logicals, you want to be careful and use `()` to keep things straight!

In [26]:
my_df[((my_df['Name'] == 'Alice') | (my_df['Name'] == 'Greg')) & (my_df['Age'] > 21)]

   Name  Age       Major
6  Greg   22  Statistics

---

# Indexing a Data Frame's Rows & Columns

- To index both rows and columns at once, we use the `.iloc[]` and `.loc[]` methods

---

### Indexing Rows with `.iloc[]`

- Can access rows by their **integer location** using `.iloc[]`

In [27]:
my_df.iloc[0]

Name          Alice
Age              20
Major    Statistics
Name: 0, dtype: object

In [28]:
type(my_df.iloc[1]) #Again a Series is returned

pandas.core.series.Series

- The row is return as a `Series` with the data type being as broad as it needs to be. Here it is returned with a data type of `object` (used for storing mixed [data types](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html))

In [29]:
my_df.iloc[1]

Name         Bob
Age           21
Major    History
Name: 1, dtype: object

- With our other data object, all elements in a row are floats so that is the data type of the series that is returned

In [30]:
my_df2.iloc[1].dtype

dtype('float64')

- You can return more than one row by passing a list (or similar type object, such as a `range()` call) of the numeric indices you want

In [31]:
my_df.iloc[[0,1]]

    Name  Age       Major
0  Alice   20  Statistics
1    Bob   21     History

In [32]:
my_df.iloc[2:5] #note this doesn't include the last value!

      Name  Age      Major
2  Charlie   22  Chemistry
3     Dave   23    English
4      Eve   22       Math

In [33]:
my_df.iloc[range(0,3)] #range doesn't include the last value either!

      Name  Age       Major
0    Alice   20  Statistics
1      Bob   21     History
2  Charlie   22   Chemistry

---

#### `.iloc[]` for Returning Rows and Columns

- `.iloc[]` allows for subsetting of columns by location too!
- Simply add a `,` to get the 2nd dimension (similar to subsetting a `numpy` array)

In [34]:
my_df.iloc[[0,1], [0, 2]] #rows [0,1], columns [0,2]

    Name       Major
0  Alice  Statistics
1    Bob     History

In [35]:
my_df.iloc[3:6, 0:2] #slicing doesn't include either last value

        Name  Age
3       Dave   23
4        Eve   22
5  Francesca   21

---

### Indexing Rows with `.loc[]`

- `.loc[]` is similar to `.iloc[]` but it allows for subsetting based on **labels** or **boolean arrays**
- Slicing has a slightly different behavior! The last value **is** included for `.loc[]`. How awesomely confusing and annoying!

In [36]:
my_df

        Name  Age              Major
0      Alice   20         Statistics
1        Bob   21            History
2    Charlie   22          Chemistry
3       Dave   23            English
4        Eve   22               Math
5  Francesca   21  Civil Engineering
6       Greg   22         Statistics

In [37]:
my_df.loc[0] #0 is interpreted as a label, which exists for my_df

Name          Alice
Age              20
Major    Statistics
Name: 0, dtype: object

In [38]:
my_df2

        1st       2nd       3rd
a  0.268759  0.848356  0.292601
b  0.036225  0.969001  0.133551
c  0.783074  0.064242  0.134752
d  0.539709  0.349213  0.731115
e  0.225600  0.932952  0.359251

In [39]:
my_df2.loc["b"]

1st    0.036225
2nd    0.969001
3rd    0.133551
Name: b, dtype: float64

- You can use slicing

In [40]:
my_df.loc[2:5] #note this includes the last value! (again interpreted as labels)

        Name  Age              Major
2    Charlie   22          Chemistry
3       Dave   23            English
4        Eve   22               Math
5  Francesca   21  Civil Engineering

In [41]:
my_df2.loc["b":"e"] #includes the last value!

        1st       2nd       3rd
b  0.036225  0.969001  0.133551
c  0.783074  0.064242  0.134752
d  0.539709  0.349213  0.731115
e  0.225600  0.932952  0.359251

#### `.loc[]` for Returning Rows and Columns

- Just like with `.iloc[]` you can return both columns and rows if you put in a `,` for the dimensions (rows, columns)

In [42]:
my_df.loc[:3, ['Name', "Major"]]

      Name       Major
0    Alice  Statistics
1      Bob     History
2  Charlie   Chemistry
3     Dave     English

- You can use slicing on the column names too!

In [43]:
my_df.loc[:3, 'Name':"Major"]

      Name  Age       Major
0    Alice   20  Statistics
1      Bob   21     History
2  Charlie   22   Chemistry
3     Dave   23     English

---

#### `.loc[]` Using a Boolean

- As with `[]` we can use a boolean to return only certain rows (and/or columns)
- Must supply a boolean of the correct length!

In [44]:
my_df['Age'] > 21 #create a boolean array

0    False
1    False
2     True
3     True
4     True
5    False
6     True
Name: Age, dtype: bool

In [45]:
my_df.loc[my_df['Age'] > 21]

      Name  Age       Major
2  Charlie   22   Chemistry
3     Dave   23     English
4      Eve   22        Math
6     Greg   22  Statistics

- Here we gain the advantage of being able to select columns of interest at the same time as subsetting the rows!

In [46]:
my_df.loc[my_df['Age'] > 21, ["Name", "Age"]] #still can return only selected columns too

      Name  Age
2  Charlie   22
3     Dave   23
4      Eve   22
6     Greg   22

- You can use booleans for both rows and columns
- Also, `.isin()` is a very convenient operator!

In [47]:
my_df.columns.isin(["Name", "Age"]) #returns a boolean of the same length as our number of columns!

array([ True,  True, False])

In [48]:
my_df.loc[my_df["Age"] > 21, my_df.columns.isin(["Name", "Age"])]

      Name  Age
2  Charlie   22
3     Dave   23
4      Eve   22
6     Greg   22

---

## Operations on Data Frames

- `.head()` and `.tail()` methods give the first few and last rows, respectively

In [49]:
my_df.head()

      Name  Age       Major
0    Alice   20  Statistics
1      Bob   21     History
2  Charlie   22   Chemistry
3     Dave   23     English
4      Eve   22        Math

In [50]:
my_df.tail()

        Name  Age              Major
2    Charlie   22          Chemistry
3       Dave   23            English
4        Eve   22               Math
5  Francesca   21  Civil Engineering
6       Greg   22         Statistics

- `.shape` attribute contains the dimensions of the data frame

In [51]:
my_df.shape

(7, 3)

- `.info()` method gives information about the data frame

In [52]:
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Age     7 non-null      int64
 2   Major   7 non-null      object
dtypes: int64(1), object(2)
memory usage: 300.0+ bytes

In [53]:
my_df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1st     5 non-null      float64
 1   2nd     5 non-null      float64
 2   3rd     5 non-null      float64
dtypes: float64(3)
memory usage: 332.0+ bytes

- Obtain a quick contingency table with the `.value_counts()` method on a column (so a `.Series` method really)

In [54]:
my_df["Major"].value_counts()

Major
Statistics           2
History              1
Chemistry            1
English              1
Math                 1
Civil Engineering    1
Name: count, dtype: int64

---

# Quick Video

This video shows the creation of a `DataFrame` and how to add a new column and reorder the rows (or columns) with `.sort_value()`.

We also check out a few other methods such as

+ `.dropna()`: removes rows with empty cells (returns a new dataset; add inplace = True to replace)
+ `.fillna()`: replaces missing values with something
+ `my_df.describe()` for basic stats

Remember to pop the video out into the full player.

The notebook written in the video is [available here](https://colab.research.google.com/github/jbpost2/ST-554-Big-Data-with-Python/blob/main/01_Programming_in_python/Learning_Python.ipynb).

In [55]:
from IPython.display import IFrame
IFrame(src="https://ncsu.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=2dcc67df-5465-4570-83b7-b0ff0008e9a7&autoplay=false&offerviewer=true&showtitle=true&showbrand=true&captions=false&interactivity=all", height="405", width="720")

---

# Recap

- Data Frames are great for storing a data set (2D)

    + Rows = observations, Columns = variables
    
    + Many ways to create them (from a dictionary, list, array, etc.)
    
    + Many ways to subset them!

    + `.info()`, `.head()` and other useful methods!

If you are on the course website, use the table of contents on the left or the arrows at the bottom of this page to navigate to the next learning material!

If you are on Google Colab, head back to our course website for [our next lesson](https://jbpost2.github.io/ST-554-Big-Data-with-Python/01_Programming_in_python/16-Pandas_For_Reading_Data.html)!